<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-print-pdf"
	version="2.1.2">
	<name>PrintPDF</name>
	<description>Cordova Print PDF Plugin</description>
	<license>MIT</license>

	<dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device.git" />

	<js-module src="www/PrintPDF.js" name="PrintPDF">
		<clobbers target="window.PrintPDF" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PrintPDF">
				<param name="ios-package" value="PrintPDF" />
			</feature>
		</config-file>

		<header-file src="src/ios/PrintPDF.h" />
		<source-file src="src/ios/PrintPDF.m" />

		<header-file src="src/ios/NSData+Base64.h" />
		<source-file src="src/ios/NSData+Base64.m" />
	</platform>

	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PrintPDF">
                <param name="android-package" value="com.sgoldm.plugin.printPDF.PrintPDF"/>
            </feature>
        </config-file>

        <source-file src="src/android/PrintPDF.java" target-dir="src/com/sgoldm/plugin/printPDF" />
    </platform>

</plugin>